html{
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.office-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3em 2em 3em 5em;
    background-color: rgb(8, 8, 8);
    border: 1px solid white;
    border-radius: .5em;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

section h1{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section p{
    font-family: 'Poppins', sans-serif;
    margin: .5em 0;   
}

.heading input{
    font-weight: 400;
    font-size: 2rem;
    line-height: 1em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: start;
    margin: 0 0 1.2em 0;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.form div{
    margin: .3em 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border: none;
}

label{
    text-align: left;
    margin: .2em 0 0 0;
    font-family: 'Poppins', sans-serif;
    width: 20em;
}

.form input{
    background: none;
    width: 115%;
    border: none;
    border-bottom: 3.5px solid white;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: .2em 0;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

button{
    background: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: .5em 5em;
    margin: 0;
    border: .1em solid white;
    border-radius: 500em;
    transition: all .2s ease-in-out;
}

button:hover{
    cursor: pointer;
    border-color: black;
    background: white;
    color: black;
    -webkit-text-stroke: .5px black;
    font-family: 'Poppins', sans-serif;
}
