.formal{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    border: 1px solid white;
    border-radius: .5em;
    max-width: 80%;
}

.formal input{
    font-size: 1.2rem;
    width: 100%;
}

.formal button{
    margin-top: 1em;
}